spring:
  data:
    mongodb:
      uri: mongodb+srv://per550017_db_user:kPFuulEbCcfBEsut@cluster0.cbj4vkw.mongodb.net/FirstSpringBootProject?appName=Cluster0
  
  # DevTools auto-restart
  devtools:
    restart:
      enabled: true
server:
  port: 8080